.right {
  float: right;
  width: 70%;
  overflow: hidden;

}
.row {
  margin-left: 80px;
  margin-bottom: 15px;
  p{
    float: right;
    margin-right: 73%;
    margin-top: 24px;
  }
}
#friendfeed {
  color: #3b5998;
}
.hidden {
  display: none;
}
